.page-wrapper ul li {
	color: #3B454E;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.625;
	margin: 0;
}

.page-wrapper p {
	color: #3B454E;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.625;
	margin-bottom: 1.5rem;
}

.page-wrapper ol li {
	font-size: 1rem;
	color: #3B454E;
	line-height: 1.625;
	font-weight: 400;
}

.page-wrapper p code,
.page-wrapper ol li code,
.page-wrapper ul li code {
	margin: 0 1px;
	display: inline-block;
	padding: 3px 6px;
	font-size: 85%;
	border-radius: 3px;
	background-color: #F5F7F9;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
	-ms-word-break: break-all;
	word-break: break-all;
	color: #3B454E;
}

.page-wrapper p code {
	line-height: 1em;
}

table {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	margin-top: 24px;
	margin-bottom: 32px;
	width: 100%;
	color: #212529;
	overflow-x: auto;
}

table thead tr th {
	color: #9DAAB6;
	font-size: 1rem;
	font-weight: 500;
	border-bottom: 2px solid #e6ecf1;
	border-top: none;
	padding: .75rem;
	line-height: 1.625;
	vertical-align: bottom;
}

table tbody tr {
  border-color: #e6ecf1;
  border-bottom-color: rgb(230, 236, 241);
  border-bottom: 1px solid #e6ecf1;
 }

table tbody tr td {
	padding: 0.5rem;
	vertical-align: middle;
	border: none;
	font-size: 1rem;
	color: #3B454E;
	line-height: 1.625;
	font-weight: 400;
}

#TableOfContents > ul {
	padding-left: 0;
	margin-bottom: 0;
}

#TableOfContents > ul li > ul {
	padding-left: 24px;
}

#TableOfContents ul li {
	display: block;
}

#TableOfContents ul li a {
	display: -webkit-box;
	color: #74818D;
	margin: 0;
	cursor: pointer;
	display: -ms-flexbox;
	display: flex;
	padding: 6px 16px 6px 0;
	-ms-flex-align: center;
	align-items: center;
	vertical-align: middle;
	text-decoration: none;
	-webkit-box-align: center;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 500;
}

#TableOfContents ul li a:hover {
	color: #3884ff;
}

#TableOfContents ul li > ul li > ul {
	padding-left: 16px;
}

#TableOfContents ul li > ul li > ul li a {
	padding: 5px 16px 6px 0;
}

#TableOfContents ul li > ul li > ul li > ul {
	display: none;
}

blockquote.quote .quote-text p {
	font-size: 16px;
	line-height: 1.625;
	font-weight: 400;
	color: #74818d;
	position: relative;
}

.imageContainer figure.imageFigure p {
	margin-bottom: 0;
}

.imageContainer figure.imageFigure p img {
	width: auto;
	display: block;
	max-width: 100%;
	max-height: 60vh;
}

iframe {
	padding-bottom: 24px;
}

.buttonBox .buttonDownload .buttonSubTitleText p {
	margin-bottom: 0;
	font-size: 12px;
	line-height: 1.625;
	font-weight: 400;
	color: #9DAAB6;
}

ul.task-list li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  margin-left: -18px;
}

ul.task-list li label {
	margin-bottom: 0;
}

ul.task-list li label .task-list-item {
	margin-right: 5px;
}

h2 a {
	display: none;
}

h2:hover a {
  display: block;
}

#TableOfContents a::before {
  left: 0px;
  height: 29px;
  content: " ";
  position: absolute;
}

#TableOfContents a.active::before  {
  border-left: 2px solid;
}

#TableOfContents a.active {
  color: #3884ff;
}

.code-tabs .nav {
	border-bottom: 1px solid #dee2e6;
}

.code-tabs .nav li {
	border-radius: 0px;
	color: #9DAAB6;
	background-color: #F5F7F9;
	border: 1px solid #e6ecf1;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 500;
	padding: .5rem 1rem;
	margin-bottom: -1px;	
  z-index: 10;
	-o-transition: color 250ms ease-out;
	transition: color 250ms ease-out;
	-moz-transition: color 250ms ease-out;
	-webkit-transition: color 250ms ease-out;
}

.code-tabs .nav li a {
	color: #9DAAB6;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 500;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-decoration: none;
}

.code-tabs .nav li:first-child {
	border-top-left-radius: 3px;
}

.code-tabs .nav li:last-child {
	border-top-left-radius: 3px;
}

.code-tabs .nav li.active {
	color: #242A31;
	background-color: #fff;
	border-color: #dee2e6 #dee2e6 #fff;
}

.code-tabs .nav li.active a {
	color: #242A31;
}

.code-tabs p {
	margin-bottom: 0;
}

.code-tabs .tab-pane p {
	margin-bottom: 24px;
}

.code-tabs .tab-content .tab-pane {
	margin: 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #e6ecf1;
	border-top: none;
	padding: 24px 24px 0px;
	border-radius: 0px 3px 3px;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList {
  border-bottom: 1px solid #e6ecf1;
}

.variablesApi .variablesApi-contentWrapper .response .variablesApi-ParametersList {
  border-bottom: none;
  margin-bottom: 5px;
}

.tab-pane .variablesApi-ParametersList p {
  margin-bottom: 0;
}

.variablesApi .variablesApi-contentWrapper p {
  margin-bottom: 0;
  color: #74818d;
  line-height: 1.4;
  font-size: 15px;
}

.variablesApi .variablesApi-contentWrapper .response p {
  font-size: 16px;
}

span.required {
  color: #FF4642;
}

#tags {
  margin-top: 5px;
}

#tags .title {
  font-size: 15px;
}

#tags .tags-link {
  text-decoration: underline;
  padding: 0px 5px;
  font-size: 15px;
}
