/* All styles included in this file
----------------------------------------*/
/* Common Styles
----------------------------------------*/
.container.custom-width {
  max-width: 750px;
  background: #fff;
}

.page {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  color: #242A31;
  background: #F5F7F9;
  margin: 0;
  padding: 0;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.page .page-wrapper {
  margin: 0 65px;
  padding-bottom: 64px;
}

*, *:before, *:after {
  outline: none;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: #3B454E;
  background: #F5F7F9;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #3884FF;
  cursor: pointer;
}

a:hover {
  color: #3884FF;
  text-decoration: underline;
}

/* Paragraphs Styles
----------------------------------------*/
p.regularParagraph {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.regularText {
  font-size: 1rem;
  color: #3B454E;
  line-height: 1.625;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.line-through {
  text-decoration: line-through;
}

.color-gray {
  color: #74818d;
}

/* Headers and header anchors Styles
----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  color: #242A31;
  -webkit-transition: opacity 150ms ease 0s;
  -o-transition: opacity 150ms ease 0s;
  transition: opacity 150ms ease 0s;
  opacity: 1;
}

h1 .anchor, h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor {
  width: 20px;
  padding-left: 4px;
  line-height: 1;
  color: #242A31;
  opacity: 0;
  -o-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
  -moz-transition: opacity 150ms ease;
  -webkit-transition: opacity 150ms ease;
}

h1 .anchor:hover, h2 .anchor:hover, h3 .anchor:hover, h4 .anchor:hover, h5 .anchor:hover, h6 .anchor:hover {
  color: #3884FF;
}

h1 .anchor .svg-wrapper, h2 .anchor .svg-wrapper, h3 .anchor .svg-wrapper, h4 .anchor .svg-wrapper, h5 .anchor .svg-wrapper, h6 .anchor .svg-wrapper {
  outline: none;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-size: 16px;
  vertical-align: middle;
}

h1 .anchor .svg-wrapper svg, h2 .anchor .svg-wrapper svg, h3 .anchor .svg-wrapper svg, h4 .anchor .svg-wrapper svg, h5 .anchor .svg-wrapper svg, h6 .anchor .svg-wrapper svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.h1-wrapper {
  padding: 40px 0px;
  border-bottom: 2px solid #e6ecf1;
  margin-bottom: 32px;
}

.h1-wrapper .additional-text {
  margin: 8px 0 0 0;
}

h1 {
  color: #242A31;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  display: block;
}

h1 .heading-text {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 500;
}

h2 {
  color: #242A31;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h3 {
  color: #242A31;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  margin: 24px 0;
}

h4 {
  color: #242A31;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  margin: 24px 0;
}

h5 {
  color: #242A31;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  margin: 24px 0;
}

h6 {
  color: #242A31;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  margin: 24px 0;
}

/* Styles for Inline and Block Code
----------------------------------------*/
.codeBlock {
  position: relative;
  margin-bottom: 24px;
}

.codeBlock pre {
  margin: 0;
  padding: 11px 30px;
  line-height: 1.7;
  background-color: #F5F7F9;
  border-radius: 3px;
  font-size: 0.875rem;
}

.codeBlock code {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-size: 0.875rem;
}

.codeBlock .codeHeaderInline {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 1;
  font-size: 12px;
  line-height: 1.2;
  background: transparent;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.codeBlock .codeHeaderInline .copyButton {
  color: #9daab6;
  cursor: pointer;
  display: block;
  opacity: 0.5;
  position: relative;
  font-size: 13px;
  line-height: 1em;
  margin: 0px;
  padding: 8px;
  outline: none;
}

.codeBlock .codeHeaderInline .copyButton:hover {
  opacity: 1;
}

.codeBlock .codeHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 1.2;
  background: #f0f3f6;
}

.codeBlock .codeHeader .codeHeaderTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
}

.codeBlock .codeHeader .codeHeaderTabs .codeHeaderButton {
  color: #3884FF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 1.2;
  padding: 8px;
  outline: 0px;
  -webkit-transition: color 250ms ease 0s;
  -o-transition: color 250ms ease 0s;
  transition: color 250ms ease 0s;
}

.codeBlock .codeHeader .copyButton {
  color: #9daab6;
  cursor: pointer;
  display: block;
  opacity: 0.5;
  position: relative;
  font-size: 13px;
  line-height: 1em;
  margin: 0px;
  padding: 8px;
  outline: none;
}

.codeBlock .codeHeader .copyButton:hover {
  opacity: 1;
}

.codeBlock .token.operator {
  background: none;
}

.code-inline {
  margin: 0 1px;
  display: inline-block;
  padding: 3px 6px;
  font-size: 85%;
  border-radius: 3px;
  background-color: #F5F7F9;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  color: #3B454E;
}

/* Top Header (main navigation) Styles
----------------------------------------*/
.header {
  margin: 0;
  display: block;
  padding: 0;
}

.header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  height: 80px;
  padding: 0;
  z-index: 20;
  position: relative;
  -webkit-box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-bottom: 1px solid #d4dadf;
  background-color: #FFFFFF;
}

.header .header-wrapper header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  max-width: 1448px;
}

.header .header-wrapper header .headerBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-width: 1448px;
  margin: 0 auto;
  padding: 0;
}

.header .header-wrapper header .headerBox .headerLeft {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Bulleted and Numbered Lists Styles
----------------------------------------*/
ul, ol {
  margin: 0;
  padding: 0;
  padding-left: 2em;
  margin-bottom: 1.5rem;
}

ul li, ol li {
  color: #3B454E;
}

ul li p,
ul li p.regularParagraph, ol li p,
ol li p.regularParagraph {
  margin: 0;
}

/* Tables Styles
----------------------------------------*/
.table-responsive {
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 24px;
  margin-bottom: 32px;
}

.table {
  margin: 0;
}

.table thead tr th {
  color: #9DAAB6;
  font-size: 1rem;
  font-weight: 500;
  border-bottom: 2px solid #e6ecf1;
  border-top: none;
}

.table thead tr th span {
  color: inherit;
  font-weight: inherit;
}

.table tbody tr {
  border-color: #e6ecf1;
  border-bottom: 1px solid #e6ecf1;
}

.table tbody tr td, .table tbody tr th {
  padding: 0.5rem;
  vertical-align: middle;
  border: none;
}

/* Info Box Styles
----------------------------------------*/
.infoBox {
  margin: 0;
  display: block;
  padding: 24px 24px calc(1px / 10) 50px;
  position: relative;
  margin-top: 32px;
  border-left: 4px solid;
  margin-bottom: 32px;
  border-radius: 3px;
  background-color: #F5F7F9;
  border-color: #3884ff;
}

.infoBox.warning {
  border-color: #cf3d3d;
}

.infoBox.warning svg {
  color: #cf3d3d;
}

.infoBox.note {
  border-color: #2ac15c;
}

.infoBox.note svg {
  color: #2ac15c;
}

.infoBox svg {
  color: #3884ff;
}

.infoBox .infoBox-icon {
  top: 24px;
  left: 16px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  position: absolute;
  font-size: 24px;
}

/* Info Box Styles
----------------------------------------*/
.nav-tabs .nav-link {
  border-radius: 0px;
  color: #9DAAB6;
  background-color: #F5F7F9;
  border: 1px solid #e6ecf1;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -o-transition: color 250ms ease-out;
  transition: color 250ms ease-out;
  -moz-transition: color 250ms ease-out;
  -webkit-transition: color 250ms ease-out;
}

.nav-tabs .nav-link:first-child {
  border-top-left-radius: 3px;
}

.nav-tabs .nav-link:last-child {
  border-top-right-radius: 3px;
}

.nav-tabs .nav-link.active {
  color: #242A31;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.tabContent {
  margin: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #e6ecf1;
  border-top: none;
  padding: 24px 24px 0px;
  border-radius: 0px 3px 3px;
}

/* Variables API Styles
----------------------------------------*/
.variablesApi-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px 8px 0px 0px;
}

.variablesApi-badge .badge {
  color: white;
  height: 21px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
  background: #3884ff;
  background-color: #3884ff;
  border-radius: 9999px;
  padding: 0;
  margin: 0;
}

.variablesApi-badge .badge .badge-text {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 8px;
}

.variablesApi-pathWrapper {
  color: #74818d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 85%;
  -ms-flex-align: baseline;
  align-items: baseline;
  font-family: "Source Code Pro", Menlo, monospace;
  line-height: 1.7;
  -webkit-box-align: baseline;
  margin: 0px 0px 24px;
  padding: 0px;
}

.variablesApi-pathWrapper .variablesApi-pathStart {
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 400;
  font-family: Content-font, Roboto, sans-serif;
  background-color: #f5f7f9;
  padding: 8px 0px 8px 8px;
  border-radius: 3px 0px 0px 3px;
}

.variablesApi-pathWrapper .variablesApi-pathEnd {
  color: #242a31;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: bold;
  font-family: Content-font, Roboto, sans-serif;
  background-color: #f5f7f9;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  padding: 8px 8px 8px 0px;
  border-radius: 0px 3px 3px 0px;
}

.variablesApi {
  margin: 0;
  padding: 0;
}

.variablesApi .variablesApi-contentWrapper {
  display: block;
  margin: 0px;
  padding: 0px;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList {
  display: block;
  margin: 0px 0px 20px;
  padding: 0px;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParameterTitle {
  color: #74818d;
  display: block;
  position: relative;
  font-size: 15px;
  margin: 0px 0px 4px;
  padding: 0px;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ResponseTitle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0;
  margin: 0 0 4px 0;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ResponseTitle .responseCode {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ResponseTitle .responseCode .responseCode-colorIndicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 6px 0 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: 400;
  border-radius: 50%;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ResponseTitle .responseCode .responseCode-colorIndicator.response-success {
  background-color: #26CB7C;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ResponseTitle .responseCode .responseCode-colorIndicator.response-fail {
  background-color: #FF4642;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ResponseTitle .responseCode .responseCode-colorIndicator.response-warning {
  background-color: #e7951ed1;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ResponseDescription {
  position: relative;
  margin: 0 0 4px 0;
  padding: 0;
  color: #74818d;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow {
  margin: 0;
  display: block;
  padding: 16px;
  position: relative;
  border-top: 1px solid #e6ecf1;
  border-left: 1px solid #e6ecf1;
  border-right: 1px solid #e6ecf1;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow:last-child {
  border-bottom: 1px solid #e6ecf1;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow .ParameterCell-name {
  display: block;
  margin: 0;
  width: 150px;
  padding: 8px;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow .ParameterCell-name .ParameterValue-name {
  margin: 0;
  display: block;
  padding: 0;
  line-height: 1.2;
  border-bottom: 2px solid transparent;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow .ParameterCell-name .ParameterValue-requirement {
  margin: 0;
  display: block;
  padding: 0;
  font-size: 10px;
  line-height: 1.2;
  text-transform: uppercase;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow .ParameterCell-name .ParameterValue-requirement.optional {
  color: #74818d;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow .ParameterCell-name .ParameterValue-requirement.required {
  color: #FF4642;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow .ParameterCell-type {
  display: block;
  margin: 0;
  width: 130px;
  padding: 8px;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow .ParameterCell-type .ParameterValue-type {
  margin: 0;
  display: inline-block;
  padding: 2px 6px;
  font-size: 85%;
  font-family: "Source Code Pro", Menlo, monospace;
  line-height: 1.7;
  white-space: nowrap;
  border-radius: 3px;
  background-color: #F5F7F9;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow .ParameterCell-description {
  display: block;
  margin: 0px;
  padding: 8px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}

.variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow .ParameterCell-description .ParameterValue-description {
  color: #74818D;
  margin: 0;
  display: block;
  padding: 0;
  position: relative;
  font-size: 15px;
}

/* Quotes Styles
----------------------------------------*/
blockquote.quote {
  color: #74818d;
  margin: 0px 0px 24px;
  padding: 0px 0px 0px 12px;
  border-left: 4px solid #e6ecf1;
}

blockquote.quote .quote-text {
  color: #74818d;
  position: relative;
  margin: 0px 0px 24px;
}

/* Empty page Styles
----------------------------------------*/
.emptyPage {
  position: relative;
  text-align: center;
  margin: 0px;
  margin-bottom: -24px;
  padding: 64px;
  background: #F5F7F9;
  color: #9daab6;
}

.emptyPage span {
  font-size: 18px;
  line-height: 1.625;
}

/* Footer styles for navigation links and 'last updated' section
----------------------------------------*/
.pageFooter {
  margin-top: 64px;
}

.pageFooter .navigationLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.pageFooter .navigationLinks .linkNext,
.pageFooter .navigationLinks .linkPrevious {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-self: stretch;
  color: #242A31;
  background-color: #FFFFFF;
  border: 1px solid #e6ecf1;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  -o-transition: border 250ms ease;
  transition: border 250ms ease;
  -webkit-transition: border 250ms ease;
  -moz-transition: border 250ms ease;
  text-decoration: none;
}

.pageFooter .navigationLinks .linkNext:hover,
.pageFooter .navigationLinks .linkPrevious:hover {
  color: #3884FF;
  border-color: #3884FF;
}

.pageFooter .navigationLinks .linkNext:hover .linkIcon,
.pageFooter .navigationLinks .linkPrevious:hover .linkIcon {
  color: #3884FF;
  border-color: #3884FF;
}

.pageFooter .navigationLinks .linkNext .linkBody,
.pageFooter .navigationLinks .linkPrevious .linkBody {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
}

.pageFooter .navigationLinks .linkNext .linkBody .linkTitle,
.pageFooter .navigationLinks .linkPrevious .linkBody .linkTitle {
  font-size: 0.75rem;
  line-height: 1.625;
  font-weight: 400;
  color: #9daab6;
}

.pageFooter .navigationLinks .linkNext .linkBody .pageTitle,
.pageFooter .navigationLinks .linkPrevious .linkBody .pageTitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
}

.pageFooter .navigationLinks .linkNext .linkIcon,
.pageFooter .navigationLinks .linkPrevious .linkIcon {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #9daab6;
  margin: 0;
  display: block;
  padding: 16px;
  font-size: 24px;
  -o-transition: color 250ms ease;
  transition: color 250ms ease;
  -moz-transition: color 250ms ease;
  -webkit-transition: color 250ms ease;
}

.pageFooter .navigationLinks .linkPrevious {
  margin-right: 12px;
}

.pageFooter .navigationLinks .linkNext {
  margin-left: 12px;
}

.pageFooter .lastUpdated {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 24px;
  border-top: 2px solid #e6ecf1;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 24px;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.pageFooter .lastUpdated .last-updated-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  display: block;
  padding: 0;
}

.pageFooter .lastUpdated .last-updated-wrapper .last-updated {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  margin: 0;
  padding: 0;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
}

.pageFooter .lastUpdated .last-updated-wrapper .last-updated .editorsListWrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0;
  display: block;
  padding: 0;
  margin-right: 8px;
}

.pageFooter .lastUpdated .last-updated-wrapper .last-updated .editorsListWrapper .editorsList {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
}

.pageFooter .lastUpdated .last-updated-wrapper .last-updated .editorsListWrapper .editorsList .editor {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  z-index: 0;
  position: relative;
  -webkit-box-shadow: 0 0 0 2px white;
  box-shadow: 0 0 0 2px white;
  border-radius: 128px;
}

.pageFooter .lastUpdated .last-updated-wrapper .last-updated .editorsListWrapper .editorsList .editor:nth-last-child(n+2) {
  margin-left: -8px;
}

.pageFooter .lastUpdated .last-updated-wrapper .last-updated .editorsListWrapper .editorsList .editor .avatarFrame {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-mask-image: -moz-radial-gradient(white, black);
  mask-image: -webkit-radial-gradient(white, black);
  mask-image: -moz-radial-gradient(white, black);
  width: 30px;
  margin: 0;
  height: 30px;
  display: flex;
  padding: 0;
  position: relative;
  overflow: hidden;
  mask-image: radial-gradient(white, black);
  -ms-flex-align: center;
  align-items: center;
  border-radius: 128px;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.pageFooter .lastUpdated .last-updated-wrapper .last-updated .editorsListWrapper .editorsList .editor .avatarFrame .avatar {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-size: cover;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
}

.pageFooter .lastUpdated .last-updated-wrapper .last-updated .editorsListWrapper .editorsList .editor .avatarFrame .avatarShadow {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  bottom: 0;
  display: block;
  padding: 0;
  position: absolute;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(24, 48, 85, 0.1);
  box-shadow: inset 0 0 1px 1px rgba(24, 48, 85, 0.1);
  border-radius: 128px;
  pointer-events: none;
}

.pageFooter .lastUpdated .last-updated-wrapper .editedDate {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  color: #9daab6;
  margin: 0;
  display: flex;
  padding: 0;
}

.pageFooter .lastUpdated .last-updated-wrapper .editedDate .editedDate-text {
  font-size: 12px;
  line-height: 1.625;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 0;
  }
  .variablesApi .variablesApi-contentWrapper .variablesApi-ParametersList .variablesApi-ParametersRowWrapper .variablesApi-ParametersRow:not(:first-child) {
    border-top: 0;
  }
}

hr {
  width: 100%;
  border-top: 4px solid #dc3545;
}
