{{- if .Site.IsServer -}} {{ "<!-- shortcodes/button-box.html -->" | safeHTML }} {{- end -}}
{{ $file_url := ( .Get "url" ) }}
{{ $file_name := ( .Get "name" ) }}
{{ $button_title := ( .Get "title" ) }}



<div class="buttonBox">
  <div class="block">
    <a class="buttonDownload" download="{{ $file_name }}" href="{{ $file_url }}" target="_blank">
      <div class="buttonIcon">
        <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></g></svg>
      </div>
      <div class="buttonTitle">
        <div class="buttonTitleWrapper">
          <span class="buttonTitleText">Download this file</span>
        </div>
      </div>
      <div class="buttonSubTitle">
        <div class="buttonSubTitleWrapper">
          <span class="buttonSubTitleText">{{ $file_name }}</span>
        </div>
      </div>
    </a>
  </div>
</div>
{{- if .Site.IsServer -}} {{ "<!-- END shortcodes/button-box.html -->" | safeHTML }} {{- end -}}
