<div class="lastUpdated">
  <div class="last-updated-wrapper">
    <div class="last-updated">
      <div class="editorsListWrapper">
        <div class="editorsList">
          <div class="editor" title="Krzysztof Karski" data-placement="bottom" data-toggle="tooltip">
            <div class="avatarFrame">
              <img class="avatar" src="https://avatars2.githubusercontent.com/u/1750504?v=4" alt="Krzysztof Karski">
              <div class="avatarShadow"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="editedDate">
        <span class="editedDate-text">
          <span>Last updated <span id="editedDate-value">13 days ago</span></span>
        </span>
      </div>
    </div>
  </div>
</div>