{{- if .Site.IsServer -}} {{ "<!-- partials/last-updated.html -->" | safeHTML }} {{- end -}}
<div class="lastUpdated">
  <div class="last-updated-wrapper">
    <div class="last-updated">
      <div class="editorsListWrapper">
        <div class="editorsList">
          <div class="editor" title="Krzysztof Karski" data-placement="bottom" data-toggle="tooltip">
            <div class="avatarFrame">
              <img class="avatar" src="https://avatars2.githubusercontent.com/u/1750504?v=4" alt="Krzysztof Karski">
              <div class="avatarShadow"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="editedDate">
        <span class="editedDate-text">
          {{ $ageDays := div (sub now.Unix .Lastmod.Unix) 86400 }}
          {{ $ageMonths := div (sub now.Unix .Lastmod.Unix) 2592000 }}

          <!-- Last updated today -->
          {{ if eq $ageDays 0 }}

            Last updated today.

          <!-- Last updated in the last 31 days -->
          {{ else if lt $ageDays 31 }}

            Last updated {{ $ageDays }}
            {{ cond (eq $ageDays 1) "day" "days"}}
            ago.

          <!-- Last updated month(s) ago -->
          {{ else }}

            Last updated {{ $ageMonths }}
            {{ cond (eq $ageMonths 1) "month" "months" }}
            ago.

          {{ end }}
        </span>
      </div>
    </div>
  </div>
</div>
{{- if .Site.IsServer -}} {{ "<!-- END partials/last-updated.html -->" | safeHTML }} {{- end -}}
