<div id="mobileAnchorsNavigationPlacement">
  <div class="mobileAnchorsNavigation">
    <div class="popoverWrapper">
      <div class="mobileAnchorsBodyWrapper">
        <div class="arrowPointer"></div>
        <div class="mobileNav">
          <div class="mobileNavScrollable">
            <div class="mobileRightSidebarHeaderWrapper">
            {{ if .Params.toc }} 
              <div class="mobileRightSidebarHeaderIcon">
                <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="7" y2="18"></line></g></svg>
              </div>
              <div class="mobileRightSidebarHeaderTitle">
                <span class="mobileRightSidebarHeaderTitleText">Contents</span>
              </div>
            </div>
            {{ .TableOfContents }}
            {{ end }} 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>