<section class="navigation">
  <div class="navigationWrapper">
    <div class="sidebarWrapper">
      <div class="sidebarBox">
        <div style="padding-bottom:0"></div>
          <div class="sidebar" id="sidebarScrollArea" data-simplebar="init">
            <div class="simplebar-wrapper">
              <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
              </div>
              <div class="simplebar-mask">
                <div class="simplebar-offset">
                  <div class="simplebar-content-wrapper">
                    <div class="simplebar-content">
                      <div class="sidebarScrollbar">

                        <div class="mobileHeader">
                          <div role="button" tabindex="-1" class="mobilePrevButton">
                            <svg class="prevIcon" preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></g></svg>
                          </div>
                        </div>

                        <div class="pageNavigationWrapper">
                          <div class="pageNavigationList">
                            {{ $currentPage := . }}
                            {{ range .Site.Menus.sidebar.ByWeight }}
                              {{ $post := printf "%s" .Post }}
                              <div class="navigationItem">
                                <div class="itemWrapp">                                  

                                  {{ if .HasChildren }}
                                  <div class="navigationGroup">
                                    <div class="navigationGroupWrapper">
                                      <span class="navigationGroupTitle">{{ .Name }}</span>
                                    </div>
                                  </div>
                                  {{ else }}
                                  <a href="{{ if .HasChildren }}javascript:void(0){{ else }}{{ .URL }}{{ end }}" class="navigationLink withBottomMargin {{if or ($currentPage.IsMenuCurrent "sidebar" .) ($currentPage.HasMenuCurrent "sidebar" .) }} active {{end}}" data-target=".{{ .Identifier }}">
                                    <span class="navigationLinkTitle">{{ .Name }}</span>
                                  </a>
                                  {{ end }}                                    

                                  {{- if .HasChildren }}
                                  <div class="{{ .Identifier }}">
                                    {{- range .Children }}
                                      {{- if .HasChildren }}
                                        <div class="level-2">                            
                                          <a href="{{ .URL }}" class="navigationLink {{if or ($currentPage.IsMenuCurrent "sidebar" .) }} active {{end}}" data-target=".{{ .Identifier }}">
                                            <span class="navigationLinkTitle">{{ .Name }}</span>
                                            <span class="navigationLinkIcon" data-toggle="collapse" href="#setupSubitems" role="button" aria-expanded="false" aria-controls="setupSubitems">
                                              <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><polyline class="st0" points="10,18 15,12 10,6"></polyline></g></svg>
                                            </span>
                                          </a>
                                          <div class="collapse {{if or ($currentPage.IsMenuCurrent "sidebar" .) ($currentPage.HasMenuCurrent "sidebar" .) }} show {{end}}" id="setupSubitems">
                                            <div class="navigationItem subitem">
                                              <div class="itemWrapp">
                                                {{- range .Children }}                
                                                  <a href="{{.URL}}" class="navigationLink {{if or ($currentPage.IsMenuCurrent "sidebar" .) ($currentPage.HasMenuCurrent "sidebar" .) }} active {{end}}">
                                                    <span class="navigationLinkTitle">{{ .Name }}</span>
                                                  </a>                                   
                                                {{- end}}
                                              </div>
                                            </div>
                                          </div>
                                        </div>                                    
                                      {{- else }}                                        
                                        <a href="{{.URL}}" class="navigationLink {{if or ($currentPage.IsMenuCurrent "sidebar" .) ($currentPage.HasMenuCurrent "sidebar" .) }} active {{end}}">
                                          <span class="navigationLinkTitle">{{ .Name }}</span>
                                        </a>                                  
                                      {{- end }}                                      
                                    {{- end}}
                                  </div>
                                  <div class="bottomOffset"></div>
                                  {{- end}}                                  
                                </div>
                              </div>
                            {{- end}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="simplebar-placeholder">
              </div>
            </div>
          <div class="simplebar-track simplebar-horizontal">
            <div class="simplebar-scrollbar"></div>
          </div>
          <div class="simplebar-track simplebar-vertical">
            <div class="simplebar-scrollbar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>