<section class="page-content">
  <div class="contentAndRightSidebar">
    <div class="page-wrapper">
      <div class="h1-wrapper">
        <div class="oneRow">
          <div class="wrapper">
            <h1>
              <span class="heading-text">About</span>
            </h1>
          </div>
          <div id="mobileContentsBoxPlacement">
            <div class="mobileContentsBox">
              <button class="mobileContentsBoxButton">
                <span class="mobileContentsBoxIconWrapper">
                  <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><line x1="21" y1="10" x2="7" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="7" y2="18"></line></g></svg>
                </span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <div class="additional-text">
          <span class="regularText color-gray">
            Sync configurations such as environment variables, application properties and secrets across build pipelines, services and environments.
          </span>
        </div>
      </div>

      <div id="mobileAnchorsNavigationPlacement">
        <div class="mobileAnchorsNavigation">
          <div class="popoverWrapper">
            <div class="mobileAnchorsBodyWrapper">
              <div class="arrowPointer"></div>
              <div class="mobileNav">
                <div class="mobileNavScrollable">
                  <div class="mobileRightSidebarHeaderWrapper">
                    <div class="mobileRightSidebarHeaderIcon">
                      <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><line x1="21" y1="10" x2="7" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="7" y2="18"></line></g></svg>
                    </div>
                    <div class="mobileRightSidebarHeaderTitle">
                      <span class="mobileRightSidebarHeaderTitleText">Contents</span>
                    </div>
                  </div>

                  <a href="#why-configrd" class="mobileRightSidebarItem nav-link">
                    <div class="rightSidebarItemWrapper">
                      <span class="itemTitleWrapper">
                        <span class="itemTitle">Why Configrd</span>
                      </span>
                    </div>
                  </a>

                  <a href="#for-engineers" class="mobileRightSidebarItem nav-link">
                    <div class="rightSidebarItemWrapper">
                      <span class="itemTitleWrapper">
                        <span class="itemTitle level-2">For Engineers</span>
                      </span>
                    </div>
                  </a>

                  <a href="#for-ci-cd-pipelines" class="mobileRightSidebarItem nav-link">
                    <div class="rightSidebarItemWrapper">
                      <span class="itemTitleWrapper">
                        <span class="itemTitle level-2">For CI/CD Pipelines</span>
                      </span>
                    </div>
                  </a>

                  <a href="#for-containers" class="mobileRightSidebarItem nav-link">
                    <div class="rightSidebarItemWrapper">
                      <span class="itemTitleWrapper">
                        <span class="itemTitle level-2">For Containers</span>
                      </span>
                    </div>
                  </a>

                  <a href="#for-devops-and-infosec" class="mobileRightSidebarItem nav-link">
                    <div class="rightSidebarItemWrapper">
                      <span class="itemTitleWrapper">
                        <span class="itemTitle level-2">For DevOps and InfoSec</span>
                      </span>
                    </div>
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2 id="why-configrd">
        <span>Why Configrd</span>
        <a href="#why-configrd" class="anchor">
          <span class="svg-wrapper">
            <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor">
              <g>
                <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
              </g>
            </svg>
          </span>
        </a>
      </h2>

      <ul class="list">
        <li>
          <p class="regularParagraph"><span class="regularText">It automatically keeps your local development environment up to date with environment variable changes</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">It keeps all our environments consistent thanks to configuration inheritance</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">You only have to maintain values that differ between environments</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Is a common place to secure, manage, version and pull environment variables from across build pipelines, services, environments and even tech stacks</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Encrypt/decrypt secrets on the fly and keep the rest plaintext for easy access and management</span></p>
        </li>
      </ul>

      <p class="regularParagraph">
        <span class="regularText">
          With <strong>configrd</strong>  engineers, devops or infosec can access, manage and secure environmnt variables from anywhere in multiple formats such as key-value, json and yaml.
        </span>
      </p>

      <p class="regularParagraph">
        <span class="regularText">
          Variables can be sourced, secured and stored to and from git, file systems, http/s  or AWS S3.
        </span>
      </p>

      <p class="regularParagraph">
        <span class="regularText">
          Configrd deploys on-prem as a micro service alongside your apps and infrastructure to serve configurations on demand.
        </span>
      </p>

      <h3 id="for-engineers">
        <span>For Engineers</span>
        <a href="#for-engineers" class="anchor">
          <span class="svg-wrapper">
            <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></g></svg>
          </span>
        </a>
      </h3>

      <ul class="list">
        <li>
          <p class="regularParagraph"><span class="regularText">Always keep your local development environment up to date</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Access plaintext values & secrets from the same place and in the same way</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Quickly and easily switch between config profiles for development, testing or debugging purposes</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Use all the same tools you already know and love. I.e. store configs to yaml file in git, make updates using VSCode, Vim etc</span></p>
        </li>
      </ul>

      <h3 id="for-ci-cd-pipelines">
        <span>For CI/CD Pipelines</span>
        <a href="#for-ci-cd-pipelines" class="anchor">
          <span class="svg-wrapper">
            <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></g></svg>
          </span>
        </a>
      </h3>

      <ul class="list">
        <li>
          <p class="regularParagraph"><span class="regularText">Keep environment variables and secrets external to CI/CD tools and platforms</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Pass more builds thanks to fewer out of date or missing config values</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Manage, secure and access environment variables in a consistent fashion at development, build, test, deploy and run-time</span></p>
        </li>
      </ul>

      <h3 id="for-containers"><span>For Containers</span>
        <a href="#for-containers" class="anchor">
          <span class="svg-wrapper">
            <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></g></svg>
          </span>
        </a>
      </h3>

      <ul class="list">
        <li>
          <p class="regularParagraph"><span class="regularText">Build and promote a single reusable image between environments thanks to externalized configurations</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Pass values via ENV at container start, pull config values via script or directly from application at boot</span></p>
        </li>
      </ul>

      <h3 id="for-devops-and-infosec">
        <span>For DevOps and InfoSec</span>
        <a href="#for-devops-and-infosec" class="anchor">
          <span class="svg-wrapper">
            <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></g></svg>
          </span>
        </a>
      </h3>

      <ul class="list">
        <li>
          <p class="regularParagraph"><span class="regularText">Single source of truth for all environment variables and application properties</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Manage config values in a common but flexible hierarchy across different tech stacks, platforms and tools</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Fight configuration drift</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Collaborate with application engineers to keep environment settings up to date</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Reduce or even eliminate duplicate/redundant configs within and across environments</span></p>
        </li>
        <li>
          <p class="regularParagraph"><span class="regularText">Globally enforce encryption of secrets, manage keys through services such as AWS KMS, store values anywhere (i.e. git) and however (i.e. json) you like</span></p>
        </li>
      </ul>

      <section class="pageFooter">
        <div class="navigationLinks">
          <a class="linkNext" href="getting-started/quick-start.html">
            <div class="linkBody">
              <div class="linkTitle">
                <span class="linkTitle-text">Next</span>
              </div>
              <div class="pageTitle">
                <span class="pageTitle-text">Quick Start</span>
              </div>
            </div>
            <div class="linkIcon">
              <svg preserveAspectRatio="xMidYMid meet" height="1.5em" width="1.5em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></g></svg>
            </div>
          </a>
        </div>

        <div class="lastUpdated">
          <div class="last-updated-wrapper">
            <div class="last-updated">
              <div class="editorsListWrapper">
                <div class="editorsList">
                  <div class="editor" title="Krzysztof Karski" data-placement="bottom" data-toggle="tooltip">
                    <div class="avatarFrame">
                      <img class="avatar" src="https://avatars2.githubusercontent.com/u/1750504?v=4" alt="Krzysztof Karski">
                      <div class="avatarShadow"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="editedDate">
                <span class="editedDate-text">
                  <span>Last updated <span id="editedDate-value">13 days ago</span></span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="pageRightSidebarPlacement">
      <div class="pageRightSidebar">
        <div class="pageRightBox">
          <div class="boxForPadding"></div>
          <div class="anchorsNavigation" >
            <div class="anchorsNavigationWrapper">
              <div class="anchorsNavigationListWrapper">
                <div class="anchorsNavigationList">
                    <div class="rightSidebarHeaderWrapper">
                      <div class="rightSidebarHeaderIcon">
                        <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><line x1="21" y1="10" x2="7" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="7" y2="18"></line></g></svg>
                      </div>
                      <div class="rightSidebarHeaderTitle">
                        <span class="rightSidebarHeaderTitleText">Contents</span>
                      </div>
                    </div>
                    <a href="#why-configrd" class="rightSidebarItem nav-link">
                      <div class="rightSidebarItemWrapper">
                        <span class="itemTitleWrapper">
                          <span class="itemTitle">Why Configrd</span>
                        </span>
                      </div>
                    </a>
                    <a href="#for-engineers" class="rightSidebarItem nav-link">
                      <div class="rightSidebarItemWrapper">
                        <span class="itemTitleWrapper">
                          <span class="itemTitle level-2">For Engineers</span>
                        </span>
                      </div>
                    </a>
                    <a href="#for-ci-cd-pipelines" class="rightSidebarItem nav-link">
                      <div class="rightSidebarItemWrapper">
                        <span class="itemTitleWrapper">
                          <span class="itemTitle level-2">For CI/CD Pipelines</span>
                        </span>
                      </div>
                    </a>
                    <a href="#for-containers" class="rightSidebarItem nav-link">
                      <div class="rightSidebarItemWrapper">
                        <span class="itemTitleWrapper">
                          <span class="itemTitle level-2">For Containers</span>
                        </span>
                      </div>
                    </a>
                    <a href="#for-devops-and-infosec" class="rightSidebarItem nav-link">
                      <div class="rightSidebarItemWrapper">
                        <span class="itemTitleWrapper">
                          <span class="itemTitle level-2">For DevOps and InfoSec</span>
                        </span>
                      </div>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>