<section class="page-content">
  <div class="contentAndRightSidebar">
    <div class="page-wrapper">
      <div class="h1-wrapper">
        <div class="oneRow">
          <div class="wrapper">
            <h1>
              <span class="heading-text">{{ .Title }}</span>
            </h1>
          </div>
          {{ partial "mobile-right-sidebar-button.html" . }}
        </div>
        <div class="additional-text">
          <span class="regularText color-gray">
            {{.Description}}
          </span>
        </div>
      </div>

      {{ partial "mobile-right-sidebar.html" . }}

      {{ .Content }}

      {{ partial "page-navigation.html" . }}
      
    </div>
    {{ partial "right-sidebar.html" . }}
  </div>
</section>