<div class="searchBarWrapper" role="presentation">
  <div class="searchBarHeader">
    <div class="searchInputWrapperInner">
      <div class="searchBar">
        <div class="rowWrapper">
          <div class="inputBox">
            <form id="siq_searchForm">
              <input class="searchBarInput" placeholder="Search..." type="search" value="" name="s">
            </form>
          </div>
          <div class="searchBarIcon">
            <svg preserveAspectRatio="xMidYMid meet" height="1em" width="1em" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" class="icon-7f6730be--text-3f89f380"><g><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></g></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="searchCloseButton" role="presentation">
      <svg preserveAspectRatio="xMidYMid meet" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"><g><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></g></svg>
    </div>
  </div>
  <div class="searchBarBodyWrapper">
    <div class="initialResultWrapper">
      <div class="initialResult">
        <!--div class="imageWrapper">
          <img src="/images/elements/searchPlaceholder.svg" alt="Search">
        </div-->
      </div>
    </div>
    <div id="siq_search_results"></div>
  </div>
</div>