{{ define "main"}}
{{- if .Site.IsServer -}} {{ "<!-- _default/single.html -->" | safeHTML }} {{- end -}}
<div class="pageFlex">
  <div class="contentBox">
    <div class="overlayLayout" role="presentation"></div>
    {{ partial "navigation.html" . }}
    {{ partial "page-content" . }}
  </div>
  <div class="searchBarOverlay" role="presentation">
    {{ partial "search-bar.html" . }}
  </div>
</div>
{{- if .Site.IsServer -}} {{ "<!-- END _default/single.html -->" | safeHTML }} {{- end -}}
{{ end }}