/* Tables Styles
----------------------------------------*/

.table-responsive {
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 24px;
  margin-bottom: 32px;
}

.table-responsive table {
  margin: 0;
  padding: 0;
	position: relative;
	width: 100%;
	color: #212529;
  overflow-x: auto;
  
  thead {
    tr {
      th {
        color: #9DAAB6;
        font-size: 1rem;
        font-weight: 500;
        border-bottom: 2px solid $border-color-main;
        border-top: none;
        padding: .75rem;
        line-height: 1.625;
        vertical-align: bottom;
        span {
          color: inherit;
          font-weight: inherit;
        }
      }
    }
  }
  tbody {
    tr {
      border-color: $border-color-main;
      border-bottom: 1px solid $border-color-main;
      td {
        padding: 0.5rem;
        vertical-align: middle;
        border: none;
        font-size: 1rem;
        color: #3B454E;
        line-height: 1.625;
        font-weight: 400;
      }
    }
  }
}
